.Daily_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  height: 100%;
  width: 100%;
}

.Daily_container h5 {
  color: #e6e6e6;
  text-align: center;
  width: 80%;
  margin-top: 2%;
}

.Upper_container {
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 80%;
  /* height: 60%; */
}

.Quiz_container {
  background-image: url("../../Assets/homeWallpaper.jpg");
  width: 70%;
  /* height: 90%; */
  border-radius: 12px;
  padding: 2%;
  padding-bottom: 2%;
}

.Quiz_container .Quiz_option {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2%;
  border-radius: 6px;
  margin-top: 2%;
  font-weight: 500;
  font-size: 1em;
  transition: 0.3s;
}

.Quiz_container .Quiz_option:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.Quiz_container .Quiz_question {
  margin-bottom: 3%;
  font-weight: 500;
  font-size: 1.1em;
}

.Quiz_container h5 {
  opacity: 0.5;
  font-weight: 500;
  width: 100%;
  text-align: left;
  margin-top: 3%;
}

.Quiz_container h5 a {
  text-decoration: underline;
  opacity: 0.8;
  font-weight: 500;
  color: white;
  margin-left: 0%;
}

.Resource_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  width: 40%;
  height: 100%;
  /* background-color: red; */
}

.Resource_item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 5%;
  padding-right: 8%;
  background-color: white;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.07);
  margin-bottom: 5%;
  border-radius: 12px;
  transition: 0.2s;
}

.Resource_item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.Resource_item img {
  width: 25%;
  height: 90%;
  border-radius: 6px;
}

.Resource_item h3 {
  margin-left: 5%;
  color: #5d26e3;
  width: 100%;
}

.Resource_item h5 {
  margin-left: 5%;
  color: #5d26e3;
  opacity: 0.6;
  text-align: left;
  width: 100%;
}

.locked {
  filter: grayscale(1);
  opacity: .5;
}

.explorers_container {
  display: flex;
  width: 80%;
  margin-top: 0%;
  padding: 1%;
  justify-content: center;
  /* background-color: yellow; */
}

.explorers_container img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 1%;
}

@media only screen and (max-width: 600px) {
  .Upper_container {
    flex-direction: column;
    width: 100%;
  }

  .Quiz_container {
    width: 70%;
    padding: 5%;
    padding-bottom: 5%;
    margin-top:20%;
  }

  .Quiz_container .Quiz_option {
    padding: 5%;
    margin-top: 5%;
    
  }
  
  .Quiz_container .Quiz_question {
    margin-bottom: 5%;
    font-size: 1.1em;
  }

  .Resource_container {
    margin-left: 0%;
    margin-top: 5%;
    width: 80%;
  }

  
.explorers_container {
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 1%;
}

}
